* {
    padding: 3%;
    margin: 0%;
}

body {
    height: 100vh ; 
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

a { 
    color: blue;
}

.tituloDestaque{
    color: #ed2228;
}

.apresentacao{
    display: flex;
    align-items: center;
}
