@import url('https://fonts.googleapis.com/css2?family=Agu+Display:MORF@0..60&display=swap');
* {
    padding: 0%;
    margin: 0%;
}

body {
    text-decoration: none;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

a { 
    color: blue;
}

.tituloDestaque{
    color: #ed2228;
    font-family: "Agu Display", serif  ;
}
.titulo_principal{
    font-family: 'Courier New', Courier, monospace;
    font-size: 41px;
}

.apresentacao{
    font-family: 'Courier New', Courier, monospace;
    padding: 14% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paragrafro_sobre_mim{
    font-size: 20px;
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao_links_link{
    /* background-color: #ed2228; crtl k c */ 
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid #ed2228;;
    width: 250px;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 16px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Courier New', Courier, monospace;
    
    
}
.apresentacao_links_link:hover{ /*  animacao do mouse */
    background-color: #ed222959;
    color: blue;
}
.apresentacao_links_subtitulo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400px;
}
.rodape{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ed2228;
    text-align: center;
}


