@import url('https://fonts.googleapis.com/css2?family=Agu+Display:MORF@0..60&display=swap');
* {
    padding: 1%;
    margin: 0%;
}

body {
    text-decoration: none;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

a { 
    color: blue;
}

.tituloDestaque{
    color: #ed2228;
}
.titulo_principal{
    font-family: "Agu Display", serif;
    font-size: 1cm;
}

.apresentacao{
    font-family: "Agu Display", serif;
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
}
.linkedin {
  
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 10%;
    color: white;
    background-color: #0A66C2 ;
    text-decoration: none;
}

.github { 
    font-family: Arial, serif;
    font-size: 18px;
    border-radius: 15%;
    color: black;
    background-color: white ;
    text-decoration: none;
}